/* las direcciones left right top y bottom 
seguidas de un valor en pixeles hacia donde queremos que se mueva

PROPIEDAD 
POSITION: relative
bottom: 50px
right:100px
Con esto no afecta al resto 

Se mueve en relacion a su posicion original

POSITION: absolute,
bottom: 50px
right:100px

NO ASIGNAR VALORES DE POSITION SIEMPRE PORQUE 
AL CAMBIAR DE NAVEGADOR PUEDE QUEDAR COMO EL CULO XD 

position: fixed (permite que nuestro elemento este fijo a lo largo
de toda la pagina

*/

.primero {
    position: relative;
    right:20px;
    bottom: 30px;
    }
    
.segundo {
        position: absolute;
        right: 30px;
        bottom: 20px;
    }